<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <title>隨便交易中心</title>
    <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="stylesheets/exchange.css">
		<link rel="icon" href="image/favicon.ico" type="image/x-icon">
		<link rel="shortcut icon" href="image/favicon.ico" type="image/x-icon">
  </head>
   <body>
		<div class="wrapper">
			<header>
				<h1>隨便交易中心</h1>

				<div class="nav-left"> 
					<nav>
						<a href="/index">首頁</a>
					</nav>
				</div>

				<div class="nav-right">
					
					<nav>
						
						<% if (signed) { %>
							<a href="/login">登出</a>
							<% console.log(signed) %>
						<% }else { %>
							<a href="/login">登入</a>
							<a href="/register">註冊</a>
							<% console.log(signed) %>

						<% } %>

						<a href="/personal_page">個人資料</a>
					</nav>
				</div>
			</header>

			<main>
				<h2>個人資料</h2>
				<form class="column-center">
					<output name="id" > <%= username %> </output><br>
					<output name="pwd" > <%= password %> </output><br>
					<output name="pwd" > <%= price %> </output><br>

				</form>
				<h2>持有商品</h2>
				<% add.forEach(function(post, index){ %>

				<% console.log(post)  %>

					<div class="item">
						<div class="item_title"><a href="">
							<div class="item_name">
								商品名稱: <%= post.post %>
							</div></a>
							<br><div class="item_name">

								商品持有人: <%= username%> <% console.log("TESTTT "+username)  %>

							</div>
							<div class="item_owner">
								<br>商品介紹: <%= post.des %>
							</div>
						</div>
	
						<div class="item_time">
							<div class="item_time_start">
								開始日期: <%= post.start %>
							</div>
							<div class="item_time_end">
								結束日期: <%= post.end %>
							</div>
						</div>
	
						<div class="item_price">
							目前售價: <%= post.price %> 
						</div>
						<div class="item_owner">
							<br>得標人為: (得標人)
						</div>
	
					</div>
					<%}%>
				<% }) %>
				<h2>增加新商品</h2>
					<form method="post" action="/add" class="well form-inline center" style="text-align:center;">
						<label for="user" name="user">使用者名稱: <%= username %></label>
						<br>商品名稱: <input type="text" class="span8" name="post"><br>
						商品介紹: <input type="text" class="span8" name="des"><br>
						開始日期: <input type="date" class="span8" name="start"><br>
						結束日期: <input type="date" class="span8" name="end"><br>
						商品價格: <input type="text" class="span8" name="price"><br>
						<button type="submit" class="btn btn-success"><i class="icon-comment icon-white"></i>販售</button>
					</form>

			</main>

			<footer>
				<p>
					Copyright &copy; 第二小隊交易系統<br>
					<a href="mailto:session@sitcon.org">Email someone(?</a><br>
				</p>
			</footer>
		</div>

  </body>
</html>
